/CAJAS_FORMATEADAS
/__pycache__
/cegazoo_env
data_acumulada.pkl
datos_del_drive.pkl
prueba.py
test.py
display.py
.DS_Store
client_secrets.json
credentials_module.json
gauth.py
settings.yaml
recursos.txt
__pycache__/main.cpython-312.pyc
